@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding:0;
}
.navbar{
    width:80%;
    margin: auto;
    display:flex;
    justify-content:space-between; 
    align-items: center; 
    margin-bottom: 102px;
}
.logo h2{
    font-weight: 700;
    font-size: 45px;
}
.menu a{
    text-decoration: none;
    margin-right: 20px;  
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 104px;
}

.description{
    width: 862px;
    height: 225px;
    text-align: center;
    /* margin-bottom:32px; */
}

.desc-title{
    margin: 0 0;
    font-weight: 700;
    font-size: 64px;
}

.desc-text{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom:50px;
    border: 0;
}

.banner img{
    width: 1440px;
    height: 700px;
    border-radius: 8px;
    margin-bottom: 26px;
}

.container-2{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 73px;
    align-items: center;
    margin-bottom: 130px;
}

.grid-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:20px;
    grid-column-gap:20px;
}
.text-orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

.text-gray{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
.text-dark{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.side-paragraph{
    color:  #727272;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
}



.container-3{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:100px ;
    align-items: center;
    /* position: absolute; */
}

.feature{
    display: flex;
    flex-direction: column;
}

.feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 24px;
    font-weight: 700;
    font-size: 45px;
}

.feature-span{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-desc{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-desc h1{
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
}

.feature-desc p{
    margin: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.feature-img img{
    width: 100%;
    height: 982px;
}

.feature-box{
    position: relative;
    left: 580px;
    bottom:180px ;
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    
}

.feature-box h1{
    border-radius: 8px;
    font-weight: 700;
    font-size: 65px;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.feature-box p{
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 0;
}

.container-4{
    width: 80%;
    margin: auto;
}

.container-4 P{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}
.container-5{
    width: 80%;
    margin: auto;
    margin-bottom: 180px;
}

.medels{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-evenly;
}

.medel{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.medel img{
    width: 45px;
    height: 45px;
}

.medel p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
.container-6{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 130px;
}
.sponsor-header{
    text-align: center;
    width: 542px;
    height: 129px;
    margin-bottom: 50px;
}

.sponsor-header h1{
    font-weight: 700;
    font-size: 45px;
}
.sponsor-header p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.sponsor-img{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    mix-blend-mode: luminosity;
}

.container-7{
    width: 80%;
    margin: auto;
    width: 1440px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 216px;
}

.container-7 p{
    padding-top: 45px;
    text-align: center;
}